@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    color:#3a3a3a
}
body {font-family: oswald, sans-serif;
font-weight: 300;}

/* heading and logo */ 

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525
}
#logo {float: left;
font-size: 280%;
margin-left: 30px;}
/* navigation links */

#menu {font-size: 110%;
letter-spacing: 4px;}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
list-style-type: none;
margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {border-bottom: 1px solid #3a3a3a;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color:#fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}


/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgb(0, 255, 255, .7);

    bottom: 30px;
    right: 150px;

    position:absolute;
}

/* introduction */

#Child and Educational Psychologist {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;

}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}




#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* panel */

#panel {
    background-image: url('../images/panel-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#panel div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0);
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* footer */

footer {
    height: 150px;
    }

.footer-icons {
    text-align:center;
    }

.footer-icons > li {
        display: inline;
    }

    .footer-icons i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color:#3a3a3a;

    }

    /* beero image */

#beero-outer {
    height: 600px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#lover-text, #lover-text h2 {
    color:#fff;
}

#beero-image {
    height: 600px;
    width: 100%;
    background: url('../images/beero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: beero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}


/* creates the level of zoom for beero image */
@keyframes beero-zoom {
    from{
transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

#lover-text {
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgb(0, 255, 255, .7);

    bottom: 30px;
    right: 150px;

    position:absolute;
}

 /* deero image */

 #deero-outer {
    height: 600px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#rover-text, #rover-text h2 {
    color:#fff;
}

#deero-image {
    height: 600px;
    width: 100%;
    background: url('../images/deero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: deero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}


/* creates the level of zoom for deero image */
@keyframes deero-zoom {
    from{
transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

#rover-text {
    font-size: 100%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 200px;
    height: 100px;

    padding-top: 20px;
    padding-left: 50px;
    background-color: rgb(0, 255, 255, .7);

    bottom: 140px;
    right: 400px;

    position:absolute;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #introduction {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width:950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px
    }
}
    



